<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add Subject</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		  crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h3>Add Subject</h3>
		<hr>
		<form th:action="@{/professor/save}" th:object="${subject}" method="POST">
			
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label for="title">Title:</label>
				<input type="text" class="form-control" id="title" name="title" required="required"/>
			</div>
			<div class="form-group">
				<label for="objectives">Objectives:</label>
				<textarea class="form-control" id="objectives" name="objectives" rows="5" required="required"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
			<a th:href="@{/professor/dashboard}" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</body>
</html>
